<h1>Edit Blog Post</h1>

<%= render partial: "form", locals: { blog_post: @blog_post } %>

<div class="flex justify-center mt-6">
  <%= button_to "Delete", @blog_post,
      method: :delete,
      class: "px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition-colors duration-200",
      data: { turbo_confirm: "Are you sure?" } %>
</div>